[server]
host = "{{ app_listen_host }}"
port = {{ app_listen_port }}

[database]
host = "{{ db_host }}"
port = {{ postgres_port }}
name = "{{ postgres_db }}"
user = "{{ postgres_user }}"
password = "{{ postgres_password }}"
